#content {
    margin: 0 0 15px 0;
    float: left;
    border: none;
    height: 100%;
    margin: 0;
    position: relative;
    display: inline;
    direction: ltr;
    padding: 0 0 65px 0;
    width: 740px;
    font-size: 118%;
}



.accordion li {
    list-style-type: none;
}
.accordion-control {
    background: transparent;
    border: none;
    color: #0079c9;
    cursor: pointer;
    font-size: 115%;
    outline: none;
    padding: 0.75rem 1rem .75rem .75rem;
    position: relative;
}
.accordion-control::after {
    content: '';
    background: url( img/arrow-down.svg ) no-repeat 0px 0px / 13px 9px;
    height: 9px;
    position: absolute;
    width: 13px;
    top: 24px;
    right: 0px;
}

.accordion-control[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.accordian-title {
    box-shadow: inset 0 -4px 0 0 transparent;
    display: block;
    line-height: 1.5;
    margin-left: -.5rem;
    padding-bottom: .75rem;
    position: relative;
    padding-right: 1.5rem;
}
.accordian-title:hover {
    text-decoration: underline;
}


.accordion #transcript {
    width: 100%;
    display: none;
}
